.flex-centered {
	display: flex;
	justify-content: center;
}

.croppie-demo-container {
	width: 400px;
	text-align: center;
}

.space-upper {
	padding-top: 50px;
}

.text-container {
	height: 400px;
	line-height: 400px;
}

.centered-text {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.color-wrapper {
	/*background: linear-gradient(#4fc3f7, rgb(79, 200, 247));*/
	background: linear-gradient(#4fc3f7, #4fe0f7);
	/*background-color: #4fc3f7;*/
	padding-bottom: 30px;
}

.text-styling {
	color: white;
	font-family: 'Roboto', sans-serif;
	text-shadow: 0 1px 1px rgba(20,20,20,0.6);
}

div, span {
	font-family: 'Roboto', sans-serif;
}

.customize-container {
	margin-top: 50px;
	margin-bottom: 40px;
}

.jsoneditor-container {
	margin-top: -24px;
}

.customize-options-header {
	margin-bottom: 14px;
}

.header {
	padding-right: 0px;
	padding-top: 10px;
	display: flex;
	justify-content: flex-end;
	/*margin-right: 20%;*/
}

.header > a {
	color: white;
	margin-left: 24px;
	font-size: 16px;
}

.header > a:hover, .header >a:visited {
	text-decoration: none;
}

.cr-slider {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: transparent
}